.welcome-text-container {
  margin-top: -70px;
  /* Adjust the value to move the text higher */
}

.main_hero {
  background-image: url('../../images/image.jpg');
  background-size: cover;
}

a.is-primary {
  background-color: #03b2e3 !important;
  border: 1px solid #03b2e3 !important;
}

a.is-primary:hover {
  background-color: transparent !important;
  color: #000 !important;
}

a.button {
  font-size: 14px;
}

.shadow {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, .4);
}

.custom-box-shadow {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}

.klasaaa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bucika {
  position: absolute;
  top: 20px;
  right: 0px;
}

.main_title {
  color: #fff;
}

.columns {
  flex-wrap: wrap;
}

.modal-content {
  background-color: #fff;
  padding: 2em;
  border-radius: 5px;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(60px);
  }
}

svg #wheel {
  animation: scroll ease 2s infinite;
}

.slider-content {
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}

.scroll-down {
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
}

.rooms {
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.reception-image img {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.reception-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.reception-item i {
  width: 20px;
}

.reception-item a {
  color: #000;
}

.reception-item .button {
  border: 1px solid #03b2e3;
  width: 50px;
}

.reception-item .button i {
  width: auto;
  padding-right: 5px;
}

.reception-item .button:hover {
  background-color: #03b2e3;
  color: #fff;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 769px) {
  .reception-item {
    width: 100%;
  }

  .mobile-only {
    display: block;
  }

  .reception-item {
    padding: 1em;
  }
}

@media only screen and (max-width: 350px) {
  .mobile-only {
    display: none;
  }
}

iframe {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 300px) and (max-width: 1024px) {
  .gallery a {
    width: 150px;
  }
}

footer {
  background-color: #344157;
  border-top: 3px solid #03b2e3;
  color: #fff !important;
}

.footer_title {
  color: #fff !important;
}

.newsletter-form {
  display: flex;
}

.bg-image {
  background-image: url('../../images/blurred.jpeg');
  background-size: cover;
}

.newsletter-form input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  padding: 0 15px;
  font-size: 14px;
  background-color: #5c677b;
  color: #fff;
}

.newsletter-form ::-webkit-input-placeholder {
  color: #fff;
}

.carousel-item img {
  max-width: 100%;
  max-height: 738px;
  /* Adjust this value to your desired maximum height */
  object-fit: contain;
}

.newsletter-form button {
  width: 50px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background-color: #d77b5d;
  outline: none;
  border: 0;
}

.non-selectable-button {
  pointer-events: none;
}

.main-text {
  color: white;
  text-shadow: 4px 4px 12px #29211b;
}

.navbar {
  box-shadow: none;
}

.navbar-item {
  color: #484848;
}

.map-container {
  width: 70%;
  height: 70vh;
  margin: 0 auto;
}


.custom-marker {
  background-color: red;
  border-radius: 50%;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.bounce-animation {
  animation: bounce 0.8s;
}

.rating-stars {
  display: flex;
  align-items: center;
}

.star {
  fill: #929292;
  /* Default star color */
  cursor: pointer;
  transition: color 0.2s;
}

.star:hover,
.star.highlighted {
  fill: #ffcc00;
  transition: color 0.2s;
  /* Highlighted star color */
}

.map-frame {
  border: 2px solid rgba(179, 179, 179, 0.44);
  height: 100%;
}

.leaflet-marker-icon {
  border: none;
}

#map {
  height: 100%;
}