<div class="hero" style="display: flex;flex-direction: row; margin-top: 5px" [formGroup]="apartmentForm">
    <section class="is-fullheight">
        <div class="notification is-warning" *ngIf="showNotification"
            style="width: 660px;font-size: 20px;margin-left: 10px;margin-top: 10px">
            <button class="delete" (click)="hide()"></button>
            <h2><i><strong><span style="color:hsl(348, 100%, 61%)">Warning ~ Property update pending approval :</span>
                    </strong></i><br><i>
                    Any changes will need to go through another validation cycle before they can become visible
                    on
                    the
                    platform. During this process, your property will become temporarily unavailable for
                    potential
                    renters
                    until the administrator approves the changes.</i></h2>
        </div>
        <div class="root hero-body has-text-centered">
            <div class="login">
                <h4 class="title has-text-link">Update your property</h4>
                <hr class="login-hr">
                <form [formGroup]="apartmentForm" (ngSubmit)="updateApartment()">
                    <div class="field">
                        <label class="label">Title :</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="email"
                                placeholder="Enter property title name..." formControlName="title" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Description :</label>
                        <div class="control">
                            <textarea class="textarea" style="border-radius: 20px 0 20px 20px;"
                                placeholder="Enter property description..." formControlName="description"
                                required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Square meters :</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="number" placeholder="Enter sq. meters"
                                formControlName="sqMeters" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Price in €:</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="number" placeholder="Enter price in €"
                                formControlName="price" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Number of bedrooms:</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="number"
                                placeholder="Enter number of bedrooms" formControlName="numOfBedrooms" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Number of bathrooms:</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="number"
                                placeholder="Enter number of bathrooms" formControlName="numOfBathrooms" required />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Phone number:</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="email"
                                placeholder="Enter phone number ex:+3838676878" formControlName="number" required />
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Enter country name:</label>
                        <form [formGroup]="countrySearchForm">
                            <input class="input is-medium is-rounded" type="text" placeholder="Enter country name..."
                                [(ngModel)]="selectedCountryName" formControlName="searchTerm" list="countryname"
                                (ngModelChange)="enableCity()" ngDefaultControl>
                            <datalist id="countryname">
                                <option *ngFor="let country of countries"
                                    [value]="country.name + ' , ' + country.shortCode">
                                </option>
                            </datalist>
                        </form>
                    </div>

                    <div class="field">
                        <label class="label">Enter city name:</label>
                        <div class="control">
                            <form [formGroup]="citySearchForm">
                                <input class="input is-medium is-rounded" type="email" placeholder="Enter city name..."
                                    [(ngModel)]="selectedCityName" formControlName="searchTerm" list="cityname"
                                    (ngModelChange)="enableNeighbourhood()" ngDefaultControl>
                                <datalist id="cityname">
                                    <option *ngFor="let city of cities" [value]="city.name"></option>
                                </datalist>
                            </form>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Enter neighborhood name:</label>
                        <div class="control">
                            <form [formGroup]="neighbourhoodSearchForm">
                                <input class="input is-medium is-rounded" type="email"
                                    placeholder="Enter neighborhood name..." [(ngModel)]="selectedNeighborhoodName"
                                    formControlName="searchTerm" list="neighbourhoods" ngDefaultControl required
                                    (change)="onNeighbourhoodSelection()" />
                                <datalist id="neighbourhoods">
                                    <option *ngFor="let neighbourhood of neighbourhoods" [value]="neighbourhood.name">
                                    </option>
                                </datalist>
                            </form>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Enter street name:</label>
                        <div class="control">
                            <input class="input is-medium is-rounded" type="email" placeholder="Enter street name"
                                formControlName="street" required />
                        </div>
                    </div>

                    <label class="label">Select property type :</label>
                    <div class="columns">
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isApartmentClicked"
                                (click)="onApartmentClick()">Apartment</button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isCondoClicked"
                                (click)="onCondoClick()">Condo</button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isHouseClicked"
                                (click)="onHouseClick()">House</button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isStudioClicked"
                                (click)="onStudioClick()">Studio</button>
                        </div>
                    </div>
                    <label class="label">Select renting period :</label>
                    <div class="columns" style="justify-content: center;">
                        <div class="column is-narrow">
                            <button type="button" class="button is-rounded" [class.is-success]="isDayClicked"
                                (click)="onDayClick()">Day</button>
                        </div>
                        <div class="column is-narrow">
                            <button type="button" class="button is-rounded" [class.is-success]="isMonthClicked"
                                (click)="onMonthClick()">Month</button>
                        </div>
                    </div>

                    <label class="label">Select amenities included in your property :</label>
                    <div class="columns">
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isParkingClicked"
                                (click)="onParkingClick()">
                                <span class="icon">
                                    <img src="../../assets/parked.png">
                                </span>
                                <span>Parking</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isPetsClicked"
                                (click)="onPetsClicked()">
                                <span class="icon">
                                    <i class="fas fa-dog" style="color: black;"></i>
                                </span>
                                <span>Pets allowed</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isAppliancesClicked"
                                (click)="onAppliancesClick()">
                                <span class="icon">
                                    <i class="fas fa-blender-phone" style="color: black;"></i>
                                </span>
                                <span>Appliances</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isBalconyClicked"
                                (click)="onBalconyClick()">
                                <span class="icon">
                                    <img src="../../assets/balcony.png">
                                </span>
                                <span>Balcony</span>
                            </button>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isAirClicked"
                                (click)="onAirClick()">
                                <span class="icon">
                                    <img src="../../assets/air.png">
                                </span>
                                <span>Air Conditioning</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isFurnishedClicked"
                                (click)="onFurnishedClick()">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="fill:black;" height="1em"
                                        viewBox="0 0 640 512">
                                        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M64 160C64 89.3 121.3 32 192 32H448c70.7 0 128 57.3 128 128v33.6c-36.5 7.4-64 39.7-64 78.4v48H128V272c0-38.7-27.5-71-64-78.4V160zM544 272c0-20.9 13.4-38.7 32-45.3c5-1.8 10.4-2.7 16-2.7c26.5 0 48 21.5 48 48V448c0 17.7-14.3 32-32 32H576c-17.7 0-32-14.3-32-32H96c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V272c0-26.5 21.5-48 48-48c5.6 0 11 1 16 2.7c18.6 6.6 32 24.4 32 45.3v48 32h32H512h32V320 272z" />
                                    </svg>
                                </span>
                                <span>Furnished</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isWifiClicked"
                                (click)="onWifiClick()">
                                <span class="icon">
                                    <i class="fas fa-wifi" style="color: black;"></i>
                                </span>
                                <span>Wifi</span>
                            </button>
                        </div>
                        <div class="column">
                            <button type="button" class="button is-rounded" [class.is-success]="isElevatorClicked"
                                (click)="onElevatorClick()">
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="fill:black;" height="1em"
                                        viewBox="0 0 512 512">
                                        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path
                                            d="M132.7 4.7l-64 64c-4.6 4.6-5.9 11.5-3.5 17.4s8.3 9.9 14.8 9.9H208c6.5 0 12.3-3.9 14.8-9.9s1.1-12.9-3.5-17.4l-64-64c-6.2-6.2-16.4-6.2-22.6 0zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H64zm96 96a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM80 400c0-26.5 21.5-48 48-48h64c26.5 0 48 21.5 48 48v16c0 17.7-14.3 32-32 32H112c-17.7 0-32-14.3-32-32V400zm192 0c0-26.5 21.5-48 48-48h64c26.5 0 48 21.5 48 48v16c0 17.7-14.3 32-32 32H304c-17.7 0-32-14.3-32-32V400zm32-128a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zM356.7 91.3c6.2 6.2 16.4 6.2 22.6 0l64-64c4.6-4.6 5.9-11.5 3.5-17.4S438.5 0 432 0H304c-6.5 0-12.3 3.9-14.8 9.9s-1.1 12.9 3.5 17.4l64 64z" />
                                    </svg>
                                </span>
                                <span>Elevator</span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <button class="button is-block is-fullwidth is-success is-medium is-rounded"
                        [ngClass]="{'is-loading': shouldLoad}" type="submit">
                        Update property
                    </button>
                </form>
            </div>
        </div>
    </section>
    <div class="column map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
        <div class="file is-success" style="position: relative; left: -30px; margin-top: 20px;">
            <label class="file-label">
                <input class="file-input" type="file" accept="image/*" name="resume" (change)="onFileSelected($event)"
                    multiple>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose images
                    </span>
                </span>
            </label>
        </div>
        <div class="image-container" style="height: 100%;  margin-left: -40px;">
            <ng-container *ngFor="let url of imagePreviews; let i = index">
                <app-image-with-button [imageUrl]="url" (deleteImage)="onDeleteImage(i)" class="img">
                </app-image-with-button>
            </ng-container>
        </div>
    </div>
</div>